body{
	background: #ce004e;
	color: #fff;
	font-family: sans-serif;
}
.window{
	background: #ce004e;
	text-align: center;
}
h1{
	font-size: 130px;
	margin: 0px;
	padding: 0px;
	text-shadow: 4px 4px 1px #940038;
}
nav a{
	display: block;
	font-size: 30px;
	margin: 20px;
	padding: 20px;
	background: #fff;
	color: #940038;
	text-decoration: none;
	box-shadow: 5px 5px 1px #940038;
}
div.center a{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	line-height: 300px;
	background: #fff;
	color: #ce004e;
	text-decoration: none;
	font-size: 100px;
	box-shadow: 5px 5px 1px #940038;
}
#splash{}
#inicio{}
#carregando{
	font-size: 150px;
	color: #ce004e;
	text-shadow: 4px 4px 1px #940038;
}
#carregando span.active{}

